.vs/Revit Tab/FileContentIndex/489747df-4643-4149-8297-c34ec8e487b7.vsidx
.vs/Revit Tab/FileContentIndex/49b25d7e-f259-4404-a0a0-5d3ab1f5a2d8.vsidx
.vs/Revit Tab/FileContentIndex/7c61fec6-f35c-4ee4-9303-acc836f1a386.vsidx
.vs/Revit Tab/FileContentIndex/e9b1ba18-fa70-4c30-8f5b-5e08c6a4a7f5.vsidx
.vs/Revit Tab/v17/.suo
.vs/Revit Tab/v17/DocumentLayout.backup.json
.vs/Revit Tab/v17/DocumentLayout.json
.vs/Revit Tab/FileContentIndex/7e08dd62-b747-4a24-a1b8-d618e1809090.vsidx
.vs/Revit-Tab/FileContentIndex/2d9e1280-0614-4376-9ce1-2d4f59173382.vsidx
.vs/Revit-Tab/v17/.wsuo
.vs/Revit-Tab/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
