# Visual Studio
.vs/
bin/
obj/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Revit
*_backup.rvt
*.00*.rvt
*.00*.rfa
*.00*.rte
*.slog

# Deploy
Deploy/

# Other
Thumbs.db
.DS_Store
$RECYCLE.BIN/
Desktop.ini
